* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* CSS HEX */
  --blue-sapphire: #175676ff;
  --dark-sienna: #230903ff;
  --light-blue: #b0d0d3ff;
  --congo-pink: #ff958cff;
  --dark-spring-green: #2c6e49ff;

  /* CSS HSL */
  --blue-sapphire: hsla(200, 67%, 28%, 1);
  --dark-sienna: hsla(11, 84%, 7%, 1);
  --light-blue: hsla(185, 28%, 76%, 1);
  --congo-pink: hsla(5, 100%, 77%, 1);
  --dark-spring-green: hsla(146, 43%, 30%, 1);

  background-color: var(--blue-sapphire);
}

.Section {
  height: 80vh;
  text-align: center;
}
.S1 {
  margin-top: 20vh;
  background-color: var(--light-blue);
}
.S1 img {
  border-radius: 50%;
  margin: 20px;

  width: 175px;

  display: block;

  margin-right: auto;
}
h1 {
  background-color: var(--dark-spring-green);
}
