* {
    box-sizing: border-box;
    background-color: rgb(255, 149, 140);
}
html {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
section {
    border-bottom: 1px solid rgb(255, 4, 4);
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}
h1 {
    
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(21, 213, 79);
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
}

img {
  width: 35%;
  height: 35%;
  
}
.part1{
    background-color: rgb(255, 149, 140);

}

.textp1 {
  border:1px solid red;
 padding:3px;
}

.part2{
 background-color: rgb(255, 149, 140);
 }

 .part3{
    background-color: rgb(255, 149, 140);
}




/* part 2 */


.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}